@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



/*MOBILE RULES*/
*{
  box-sizing: border-box;
}

 body{
 font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  margin: 0px;
}

 h1, h2, h3, h4, h5, h6{
  font-family: Fira Sans, Arial, Helvetica, sans-serif;
  color: black;
}

h1{
  font-size: 28px
 } 
 
 h2{
  font-size: 26px
 } 
 
 h3{
  font-size: 24px
 } 
 
 
 h4{
  font-size: 20px
 }
 
 h5{
  font-size: 18px
 }
 
 h6{
  font-size: 16px
 }

#logo{
  margin-top: 8px;
  display: flex;
  width: 100px;
  float: right;
  margin-right: 30px;
}

#btn{
  width: 50px;
  background-color: #FEF741;
  border: none;
  color: blue;
  margin-top: 30px;
  margin-left: 30px;

}

.enabled-menu{
  display: block;
}

.disabled-menu{
  display: none;
}

header {
  position: fixed;
  width: 100%;
  height: 91px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FEF741;
  
}
 
 
#navBar{
  position: absolute;
  left: 5%;
  /*right: 80%;*/
  top: 20%;
}
 
 
#filter_menu{ /* Search ícon*/
  position: absolute;
  left: 85.33%;
  right: 8%;
  top: 31.75%;
  bottom: 31.46%;
 
 
  height: 23.181819915771484px;
  width: 25px;
  left: 85%;
  top: 30%;
 
    } 

#navBar{
padding: 40px;
list-style: none;
position: relative;
display: flex;
float: right;
margin-right: 100px;
}


   
/*a:hover{
color: #005EB8;
}*/

#titleFrame1 {
  margin-top: 200px;
  text-align: center;
  padding-bottom: 50px;
 }

 #sportsCardsHTML {
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
  justify-content: center;
  padding-left: 0px;
 }

#SportCard {
  display: flex;
  justify-content: center;
  background-color: white;
  border: white;
  cursor: pointer;
}

#buttonCard {
  display: flex;
  justify-content: center;
}


#eventsList {
  display: block;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left: 30px;
  list-style: none;
  line-height: 3em;
 }
 
.eventButton{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;

  font-weight: 300;

  text-align: center;
  transition: all 0.2s;
  scroll-behavior: smooth;
 }

.eventButton:hover{
  color: #009739;
  font-weight: bold;
}

table{
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 150px;
 }

td{
  border: 1px solid #999999;
}

tbody{
text-align: center;
background-color: #E2DDDD;
}

 #flag{
  width: 15%; 
 }


 #medal{
  width: 30%;
 }


 #medallistByEvent {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 30px;
  margin-bottom: 80px;
 }
 

footer{
width: 100%;
height: 200px;
background-color: #ffff00;
position: relative;
display: flex;
}


#navigation_map {
  list-style: none;
  width: 384px;
  /*! text-decoration: none; */
 }

 .footer_img {
  width: 120px;
  margin-top: 25px;
  filter: brightness(10%);
  margin-left: 250px;
 }
 
 #footerLogo {
  width: 384px;
 }

 #footerSocialMedia {
  width: 384px;
 }

 #facebook {
  width: 30px;
  margin-left: 300px;
 }

 #instagram {
  width: 30px;
  /*! margin-left: 350px; */margin-top: 15px;
 }
 
 .contact {
  margin-top: 68px;
  margin-left: 80px;
 }

 
 
 a {
  text-decoration: none;
}


#reload {
  background-color: white;
  border: none;
  margin-top: 150px;
  margin-left: 250px;
   }
 
   #reload > img:nth-child(1) {
    width: 30px;
   }
   
#sportIcon {
    width: 120px;
    height: 120px;
    /*background-color: white;*/
  }

/* WIDTH 500 RULES------------------------------------------------*/
@media screen and (min-width: 499px){
  #sportsCardsHTML {
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
    justify-content: center;
    padding-left: 0px;
   }
   #medallistByEvent {
    display: flex;
    justify-content: center;
    /*! width: 80%; */
    margin: 30px;
    margin-bottom: 80px;
   }

   footer {
    width: 100%;
    height: 200px;
    background-color: #ffff00;
    position: absolute;
    display: flex;
    margin: 0px;
    }

  .footer_img {
    margin-left: 0px;
    }

  #facebook {
  
    margin-left: 0px;
     }

  .contact {
     margin-left: 0px;
    }

   #navigation_map {
    margin-top: 50px;
     }


}



/*DESKTOP RULES--------------------------------------------------*/
@media screen and (min-width: 800px){

header{
max-width: 100%;
height: 200px;
background-color: #FEF741;
position: sticky;
box-shadow: rgb(138, 135, 55, 0.5) 0px 0px 30px;
}

#hamburgerMenu{
  display: none;
}

#opcs-menu{
  display: block;
}


.nav {
  padding: 15px;
  font-size: 20px
}
.navTittle{
  list-style: none;
}

.navTittle:hover {
  color: blue;
  
}

#navBar a {
display: inline-block;
text-decoration: none;
color: black;
}
  
#navBar a::before{
width: 0%;
content: "";
height: 3px;
display: block;
background-color: blue;
margin-bottom: 10px;
}
  
#navBar a:hover::before{
  width: 100%;
  transition: all .5s;
  
   }

#filter_menu {
width: 50px;
height: 50px;
margin-top: 40px;
margin-left: 20px;
   }

#headColumn2 {
  /*! position: relative; */display: flex;
 }

 
#logo {
  width: 200px;
  margin-top: 20px;
  margin-left: 4em;
   
 
}
   
/*a:visited, a:link, a:active{
text-decoration: none;
color: black
}*/

#titleFrame1 {
  margin-top: 150px; 
  text-align: center;
  padding-bottom: 50px;
 }

 #sportsCardsHTML {
  list-style: none;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 100px;
  justify-content: center;
  padding-left: 0px;
 }

 #eventsList {
  margin-left: 100px;
 }

 #medallistByEvent {
  margin: 100px;
  margin-bottom: 150px;
 }

 #reload {
  display: flex;
  float: right;
  margin-right: 100px;
  background: white;
  border: none;
  margin-top: 50px;
 }
 
}